# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go Binary
*.gob

# Test binary, build with `go test -c`
*.test
coverage.txt
*.tmp

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# goland
.idea/

dist

# vscode
.vscode/
