# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go Binary
*.gob
*.json

# Test binary, build with `go test -c`
*.test
coverage.txt
*.tmp

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# goland
.idea/

# local build
.local_dist
bin/*
!bin/.gitkeep

# github release build
dist

# vscode
.vscode/

# Test migration output
my-vault/
*-vault/
my-vault2/
